<!DOCTYPE html>
<html lang="en_US">
    <head>
        <meta charset="utf-8">
        <title>Dashboard</title>
        <link rel="icon" href="static/favicon.ico">
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
    <body style="display: flex; justify-content: center;">
        <div style="max-width: 1000px; width: 100%;">
            <header>
                <a href="/new">
                    <button>NEW</button>
                </a>
                <div style="font-size: xx-large;">
                    DASHBOARD
                </div>
                <a href="/logout">
                    <button>LOG OUT</button>
                </a>
            </header>
            {{range .}}
            <div class="device">
                <span style="grid-area: hostname; font-size: x-large;">{{.Hostname}}</span>
                <span style="grid-area: login-ip;" class="login-ip">{{.Login}}@{{.Ip}}</span>
                <form class="button-holder" action="/edit" method="get">
                    <button style="grid-area: edit;" name="edit-id" value="{{.Id}}">EDIT</button>
                </form>
                <span style="grid-column: 1 / 3; grid-row: 3 / 4;">
                    {{.GetStatusConnected}}
                </span>
                <form class="button-holder" style="grid-area: delete;" action="/delete" method="post">
                    <button name="delete-id" value="{{.Id}}">DELETE</button>
                </form>
            </div>
            {{end}}
        </div>
    </body>
</html>
